<div class="container">
  <div class ="row mt-5 shadow-sm p-5 bg-white rounded">
    <div class="col-12 col-lg-8">
      <div class="">

        <h1>Edit <%= resource_name.to_s.humanize %></h1>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :first_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "First Name" }%>
            <%= f.input :last_name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Last Name" }%>
            <%= f.input :phone,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Phone Number" }%>
            <% unless resource.provider %>
              <%= f.input :email, required: true, autofocus: true %>
              <%= f.input :password,
                          hint: "leave it blank if you don't want to change it",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :current_password,
                          hint: "we need your current password to confirm your changes",
                          required: true,
                          input_html: { autocomplete: "current-password" } %>
            <% end %> 

            <%= f.input :avatar, as: :file, label: "Your Avatar (optional)"  %>

          </div>

          <div class="form-actions">
            <%= f.button :submit, "Update", class: "btn btn-secondary" %>
          </div>
        <% end %>

        <h3 class="mt-4">Cancel my account</h3>

        <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-warning" %>
        

      </div>
    </div>
    <div class="col-12 col-lg-4 border-left">
      <div class="w-full text-left lg:pl-16 lg:w-1/2">
        <div class=" text-gray-900 bg-white rounded">
          <% unless resource.can_receive_payments? %>
            <h4 class="mb-6 text-xl font-semibold leading-none text-gray-900">You wont be able list your venue until you register with Stripe!</h4>
            <%= stripe_connect_button %>
          <% else %>
            <h4 class="mb-6 text-xl font-semibold leading-none text-gray-900">Successfully connected to Stripe  ✅</h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>

