<div class="form-wrapper" style="margin: 0 auto;">
  <%= simple_form_for Review.new do |f| %>
  <%= f.input :booking_id, as: :hidden, input_html: { value: @booking.id } %>
  <%= f.input :title, as: :string, required: true %>
  <%= f.input :rating, as: :integer, required: true %>
  <%= f.input :comment, as: :text, required: true %>
  <%= f.submit "Submit Review", class: "btn btn-secondary", style: "width: 100%" %>
  <% end %>
</div>

