<footer class="position-relative" id="footer-main">
  <div class="footer pt-lg-3">
    <div class="container pt-4">
      <% if !user_signed_in? || current_page?(root_path) %>
      <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0">
          <span class="logo">KeySpot<span class="text-primary">CH</span></span>
          <ul class="nav mt-4">
            <li class="nav-item"><a class="nav-link" href="#"
                target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="#" target="_blank"><i
                  class="fab fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="col-md-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
          <% if user_signed_in? %>
            <h6 class="heading mb-3"><%= t("footer.account") %></h6>
            <ul class="list-unstyled">
              <li><a href="#"><%= t("footer.profile") %></a></li>
              <li><a href="#"><%= t("footer.settings") %></a></li>
              <li><a href="#"><%= t("footer.notifications") %></a></li>
            </ul>
          <% end %>
        </div>
        <div class="col-md-2 col-6 col-sm-4 mb-5 mb-lg-0">
          <h6 class="heading mb-3"><%= t("footer.documentation") %></h6>
          <ul class="list-unstyled">
            <li><a href="#"><%= t("footer.how_it_works") %></a></li>
            <li><a href="#"><%= t("footer.faqs") %></a></li>
          </ul>
        </div>
        <div class="col-md-2 col-6 col-sm-4 mb-5 mb-lg-0">
          <h6 class="heading mb-3"><%= t("footer.contact") %></h6>
          <ul class="list-unstyled">
            <li><a href="#">info@keyspot.ch</a></li>
          </ul>
        </div>
      </div>
      <% end %>
      <hr class="divider divider-fade divider-dark my-4">
      <div class="row align-items-center justify-content-md-between pb-4">
        <div class="col-md-6">
          <div class="copyright text-sm font-weight-bold text-center text-md-left">© 2020 KeySpot.</div>
        </div>
        <div class="col-md-6">
          <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
            <li>
              <div>
                <%= link_to 'EN', root_path(locale: :en) %> | <%= link_to 'FR', root_path(locale: :fr) %>
              </div>
            </li>  
            <li class="nav-item"><a class="nav-link" href="#"><%= t("footer.terms") %></a></li>
            <li class="nav-item"><a class="nav-link" href="#"><%= t("footer.privacy") %></a></li>
          </ul>
        </div>
      </div>
    </div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
</footer>
