  <div class ="row justify-content-center mt-5">
    <div class="col-12">
      <div class="shadow-sm p-1 bg-white rounded mt-5" style="max-height: content;">


        <div class="row my-4" style="display: flex; align-items: center">
          <div class="col-12 col-lg-4">
            <div class="container pr-0 d-flex justify-content-center">
              <%= cl_image_tag current_user.user_avatar, class: "avatar-bordered dropdown-toggle rounded", transformation: {width: 300, height: 300, gravity: :faces, crop: :fill} %>
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <div class="container pl-0" style="">
              <h1 class="m-0 p-0">Hello <%= current_user.first_name %>!</h1>
              <% if @venues == [] %>
                <p  class="m-0 p-0">Below, you can see your current bookings</p>
              <% else %>
                <p  class="m-0 p-0">Below, you can see your current venue overview</p>
                <%= render "shared/dashboard_overview" %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="container">

          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="bookings-tab" data-toggle="tab" href="#bookings" role="tab" aria-controls="bookings" aria-selected="true">Your Bookings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="listings-tab" data-toggle="tab" href="#listings" role="tab" aria-controls="listings" aria-selected="false">Your Listings</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" style="height: content;" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">

              <% if current_user.bookings == [] %>
              <h4 class="mt-4" style="text-align: center">Looks empty here. Book something!</h4>
              <% end %>
              <table class="table table-cards align-items-center">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Address</th>
                      <th>Status</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% current_user.bookings.each do |booking| %>
                    <tr class="hover-shadow-lg hover-translate-y-n3">
                      <td class="p-0" style="width: 120px; border-radius: 5px 0 0 5px;"><%= cl_image_tag booking.venue&.venue_image, class: "card-img-left" %></td>
                      <td><%= booking.venue.location %></td>
                      <td><%= booking.status %></td>
                      <td><%= booking.start_date.strftime("%B %d, %Y") %></td>
                      <td><%= booking.end_date.strftime("%B %d, %Y") %></td>
          
                      <td class="w-10">
                        <%= link_to booking_path(booking), class: 'btn' do %>
                        <%= show_svg("icons/external.svg") %>
                        Info
                        <% end %>
                      </td>
                      <td class="w-10">
                        <%= link_to booking_path(booking), class: 'btn', method: :delete, data: { confirm: "Are you sure?" } do %>
                        <%= show_svg("icons/trash.svg") %>
                        Delete
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              <!-- <div class="card-container">
              <%# current_user.bookings.each do |booking|%>

              <div class="card-dashboard mt-3 rounded w-90">

                <%#= cl_image_tag booking.venue&.venue_image, class:"card-img-top" %>

                <div class="card-dashboard-infos">
                  <h2 class="card-title"><%#= link_to booking_path(booking) do %><%#= booking.venue&.name %><%# end %></h2>
                  <p><%#= booking.start_date.to_formatted_s(:short) %> - <%#= booking.end_date.to_formatted_s(:short) %></p>
                </div>

                <div class="buttons">
                  <%#= link_to edit_booking_path(booking), {class: 'btn', 'data-toggle': 'popper','data-trigger': 'hover','data-content': 'Edit', 'data-placement': 'top' } do %>
                  <i class="far fa-edit"></i>
                  <%# end %>
                  <%#= link_to booking_path(booking), class: 'btn', method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="far fa-trash-alt"></i>
                  <%# end %>
                </div>

              </div>

              <%# end %>
              </div> -->

              <%= link_to "Book new venue", root_path, class:"btn mt-2", style:"width: 100%" %>

            </div>


            <div class="tab-pane fade" id="listings" role="tabpanel" aria-labelledby="listings-tab">

              <% if @venues == [] %>
              <h4 class="mt-4" style="text-align: center">Looks empty here. Book something!</h4>
              <% end %>

              <table class="table table-cards align-items-center">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Venue</th>
                      <th># of Bookings</th>
                      <th>Next Booking</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @venues.each do |venue| %>
                    <tr class="hover-shadow-lg hover-translate-y-n3">
                      <td class="p-0" style="width: 120px; border-radius: 5px 0 0 5px;"><%= cl_image_tag venue&.venue_image, class: "card-img-left" %></td>
                      <td><%= venue.name %></td>
                      <td><%= venue.number_of_approved_bookings %></td>
                      <td><%= venue.upcoming_checkin_date[:string] %></td>
          
                      <td class="w-10">
                        <%= link_to venue_path(venue), class: 'btn' do %>
                        <%= show_svg("icons/external.svg") %>
                        Info
                        <% end %>
                      </td>
                      <td class="w-10">
                        <%= link_to venue_path(venue), class: 'btn', method: :delete, data: { confirm: "Are you sure?" } do %>
                        <%= show_svg("icons/trash.svg") %>
                        Delete
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>

              <!-- <%# @venues.each do |venue|%>
                <div class="card-dashboard mt-3 rounded">

                  <%#= cl_image_tag venue.venue_image, class:"card-img-top" %>
                  <div class="card-dashboard-infos">
                    <h2 class="card-title"><%#= link_to venue_path(venue) do %><%#= venue.name %><%# end %></h2>
                    <p><%#= venue.description %></p>
                  </div>
                  <div class="buttons">
                    <%#= link_to venue_path(venue), class: 'btn', data: { toggle: "popper", trigger: "hover", content: "Info", placement: "top" } do %>
                    <i class="fas fa-info"></i>
                    <%# end %>
                    <%#= link_to edit_venue_path(venue), class: 'btn', data: { confirm: "Are you sure?", toggle: "popper", trigger: "hover", content: "Edit", placement: "top" } do %>
                    <i class="far fa-edit"></i>
                    <%# end %>
                    <%#= link_to venue_path(venue), class: 'btn', method: :delete, data: { confirm: "Are you sure?", toggle: "popper", trigger: "hover", content: "Delete", placement: "top" } do %>
                    <i class="far fa-trash-alt"></i>
                    <%# end %>

                  </div>

                </div>

              <div class="modal fade" id="exampleModal<%#= venue.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel<%#= venue.id %>" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel<%#= venue.id %>"><%#= link_to venue_path(venue) do %><%#= venue.name %><%# end %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h5 class="">Booking Overview</h5>

                      <table style="width:100%">
                        <tr style="color: grey">
                          <th>Start</th>
                          <th>End</th>
                          <th>Price</th>
                          <th>Status</th>
                        </tr>

                        <%# venue.bookings.each do |booking| %>
                        <tr>
                          <td><%#= booking.start_date.to_formatted_s(:short) %></td>
                          <td><%#= booking.end_date.to_formatted_s(:short) %></td>
                          <td><%#= booking.amount %>$</td>
                          <td><%#= booking.status %></td>
                        </tr>
                        <%# end %>
                      </table>

                      <h5 class="mt-4">Reviews</h5>

                      <table style="width:100%">
                        <tr style="color: grey">
                          <th>Rating</th>
                          <th>Guest</th>
                          <th>Title</th>
                          <th>Comment</th>
                        </tr>

                        <%# venue.bookings.each do |booking| %>
                        <tr>
                          <%# unless booking.review.nil? %>
                          <td><%#= ('<i class="fas fa-star"></i>' * booking.review.rating).html_safe %><%#= ('<i class="far fa-star"></i>' * (5 - booking.review.rating)).html_safe %></td>
                          <td><%#= booking.review.user.first_name %></td>
                          <td><%#= booking.review.title %></td>
                          <td><%#= booking.review.comment %></td>
                          <%# end %>
                        </tr>
                        <%# end %>
                      </table>

                      <h5 class="mt-4"></h5>
                      <%#= link_to edit_venue_path(venue), class: 'btn btn-primary' do %>
                      Edit Venue
                      <%# end %>
                      <%#= link_to venue_path(venue), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-primary' do %>
                      Delete Venue
                      <%# end %>

                    </div>
                  </div>
                </div>
              </div> 

              <%# end %> -->

              <%= link_to "Add new venue", new_venue_path, class:"btn mt-2", style:"width: 100%" %>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
<br>
<br>


