<% content_for :banner do %>
<section>  
  <div class="video-container">
    <video id="myVideo" autoplay muted loop>
    <source src="https://res.cloudinary.com/mhoare/video/upload/v1582832033/video.mp4" type="video/mp4">
    </video>
  </div>
</section>

<section style="height: 200px">
</section>

<section class="py-5 py-lg-7 bg-dark">
  <div class="container">
    <div class="row align-items-center justify-content-center">

      <div class="col-12 col-lg-10 col-md-8 pr-md-5 text-center text-md-left">

          <h1 style="color: white"> <%= t("welcome_message_1") %></h1>
          <p style="color: white; font-weight: bold; font-size: 20px;"><%= t("welcome_message_2") %></p>
          <%= simple_form_for venues_path, url: venues_path, method: :get, html: { class: "form-inline d-block bg-white rounded-lg d-lg-flex justify-content-lg-between search-bar m-0 p-2" } do |f| %>
            <div class="form-group flex-grow-1">
              <input type="text" class="form-control w-100" placeholder="<%= t("simple_form.placeholders.venue.location") %>" name="location" id="city">
            </div>
            <div class="d-xs-block d-sm-flex flex-sm-wrap justify-content-sm-between my-sm-2 my-lg-0">
              <div class="form-group ml-lg-2">
                <%= f.input :category, 
                collection: venue_category_for_select, 
                id: "inputState", 
                class: "form-control", 
                label: false,
                include_blank: false
                %>
              </div>
              <div class="form-group ml-lg-2" >
                <%= f.input :activity, 
                collection: venue_activity_for_select, 
                id: "inputState", 
                class: "form-control", 
                label: false,
                include_blank: false %>
              </div>
            </div>
            <div class="form-group ml-2">
              <%= f.submit t("actions.search"), class: "btn btn-primary w-100" %>
            </div>
          <% end %>
      </div>

      <div class="col-4 col-md-6 col-lg-6 mb-3 mb-md-0 d-none d-md-flex">
      </div>

    </div>
  </div>
</section>

<section id="como-funciona" style="padding-top: 200px;">
  <div class="container py-2 py-lg-3">

    <ul class="step step-md step-centered">
      <% ["first", "second", "third"].each_with_index do |step, index| %>
        <li class="step-item">
          <div class="step-content-wrapper">
            <span class="step-icon step-icon-soft-dark"><%= index + 1 %></span>
            <div class="step-content">
              <h3><%= t("steps.#{step}.header") %></h3>
              <p><%= t("steps.#{step}.content") %></p>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

    <div class="row">
      <div class="col-12 col-md-4 offset-md-4 text-center">
        <div class="mb-5">
          <%= link_to t("register.link"), new_user_registration_path, class: "btn btn-block btn-primary mb-2" %>
          <p class="small"><%= t("register.message") %></p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="slice delimiter-top delimiter-bottom text-center">
  <div class="container">
    <div class="row row-grid">
      <div class="col-md-4">
        <div class="pb-4">
          <div class="icon">
            <%= show_svg("icons/open_24-7.svg") %>
          </div>
        </div>
        <h5><%= t("benefits.first.header") %></h5>
        <p class="text-muted mb-0"><%= t("benefits.first.content") %></p>
      </div>
      <div class="col-md-4">
        <div class="pb-4">
          <div class="icon">
            <%= show_svg("icons/headphones.svg") %></div>
          </div>
          <h5><%= t("benefits.second.header") %></h5>
          <p class="text-muted mb-0"><%= t("benefits.second.content") %></p>
        </div>
        <div class="col-md-4">
          <div class="pb-4">
            <div class="icon">
              <%= show_svg("icons/currency_up.svg") %>
            </div>
          </div>
          <h5><%= t("benefits.third.header") %></h5>
          <p class="text-muted mb-0"><%= t("benefits.third.content") %></p>
        </div>
      </div>
    </div>
  </section>
  <% end %>