<div id="calendar-header" class="row align-items-center">
	<div id="previous-month" class="col-3 text-center"><<</div>
	<div id="calendar-month" class="col-6 text-center"><strong><%= Date.today.strftime('%B  %Y') %></strong></div>
	<div id="next-month" class="col-3 text-center">>></div>
</div>
<div id="venue-calendar" class="" data-id="<%= calendar.id %>" data-year="<%= Date.today.year %>" data-month="<%= Date.today.month %>" data-type="<%= type %>"></div>