<%= simple_form_for [@venue] do |f| %>
  <span class="h5 my-3 d-block">
    <%= f.input :name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "Name" } %>
  </span>
  <span class="h5 my-3 d-block">
    <%= f.input :location,
                required: true,
                input_html: { autocomplete: "Location", id: 'location' }  %>
  </span>
  <div class="d-flex justify-content-around">
    <span class="h5 my-3 d-block w-50 mr-2">
      <%= f.input :category, collection: Venue::CATEGORIES[1..-1],
                  required: true %>
    </span>
    <span class="h5 my-3 d-block w-50 ml-2">
      <%= f.input :activity, 
                  collection: Venue::ACTIVITIES[1..-1],
                  required: true %>
    </span>
  </div>
  <div class="d-flex justify-content-around">
  <span class="h5 my-3 d-block w-50 mr-2">
    <%= f.input :capacity, as: :numeric,
                required: true %>
  </span>
  <span class="h5 my-3 d-block w-50 ml-2">
    <%= f.input :price, as: :float, label: "Price / day",
                required: true,
                input_html: { value: "CHF", placeholder: "CHF" } %>
  </span>
  </div>
  <span class="h5 my-3 d-block">
    <%= f.input :description,
                required: true %>
  </span>
  <%#= f.input :perks, as: :check_boxes, 
        collection: Venue::PERKS, 
        checked: @venue.perks_array, 
        collection_wrapper_tag: "perk-wrapper",
        collection_wrapper_class: "perk-grid" %>
  <%= f.fields_for :venue_spec do |h| %>
      <div class="d-flex justify-content-around">
          <span class="h5 my-3 d-block w-50 mr-2">
             <%= h.input :spaces, as: :numeric, required: true %>
          </span>
          <span class="h5 my-3 d-block w-50 ml-2">
             <%= h.input :total_area, as: :numeric, required: true  %>
          </span>
      </div>
      <div class="d-flex justify-content-around">
          <span class="h5 my-3 d-block w-50 mr-2">
             <%= h.input :bathrooms, as: :numeric, required: true  %>
          </span>
          <span class="h5 my-3 d-block w-50 ml-2">
             <%= h.input :garage_spaces, as: :numeric, required: true %>
          </span>
      </div>
  <% end %>
  <span class="h5 my-3 d-block">Perks</span>
  <div class="btn-group btn-group-toggle perk-grid mb-3" id="new-venue-perks">
    <% Venue::PERKS.each do |perk| %>
      <label class="btn btn-secondary rounded d-flex justify-content-center align-items-center ">
          <input type="checkbox" name="venue[perks][]" id="<%= perk %>" autocomplete="off" value="<%= perk %>" class="toggle-catch">
          <i class="<%= Venue.perk_icon(perk) %> mr-3 my-auto " style="font-size: 21px;" ></i>
          <strong class="text-start "><%= perk %></strong><br>
      </label>
    <% end %>
  </div>
  <span class="h5 my-3 d-block">
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  </span>
  <div class="d-flex justify-content-between mt-5">
    <%= link_to 'Cancel', 'javascript:history.back()', class: "btn btn-danger" %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
