<div class="col shadow p-3 bg-white rounded mt-3 mb-3">
  <div class="title-container d-flex justify-content-between flex-column">
    <div class="d-flex justify-content-between border-bottom">
      <h4 class="">Bookings</h4>
      <span id="host-day-prices"></span>
    </div>
    <% if @venue.bookings.size < 1 %>
      <p class="text-center">Your venue has no bookings yet</p>
    <% else %>
          <% if @venue.upcoming_bookings.size < 1 %>
            <p id="table-message" class="text-center show mt-2">Your venue has no upcoming bookings yet</p>
          <% end %>
    <table class="table table-cards align-items-center">
        <thead id="table-header" class="hide">
            <tr>
              <th>Guest</th>
              <th>Status</th>
              <th>Date</th>
              <th>From</th>
              <th>To</th>
              <th scope="col">Actions</th>
              <th></th>
              <th></th>
            </tr>
        </thead>

        <tbody>
          <% @venue.bookings.each do |booking| %>
            <% if booking.id %>
              <% is_passed = booking.is_passed? ? "is_passed" : "" %>
              <tr class="hover-shadow-lg hover-translate-y-n3 venue-booking <%= booking.status %> <%= is_passed %>" id="booking-<%= booking.id %>">
                <td>
                  <%= link_to "#{booking.user.full_name}", user_path(booking.user) %>
                </td>
                <td><i class="<%= booking.booking_status_icon %>" style="font-size: 20px;"></i></td>
                <td><%= booking.start_date.strftime("%B %d, %Y") %></td>
                <td><%= booking.start_date.strftime("%H:%M") %></td>
                <td><%= booking.end_date.strftime("%H:%M") %></td>
                <td class="w-10">
                  <%= link_to booking do %>
                    <%= show_svg("icons/external.svg") %>
                    Info
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
  
</div>