<div class="" style="">
  <%= render "slides", venue: @venue %>
</div>

<div class="container">

  <h1 class="mt-3" style="font-weight: 900"><%= @venue.name %></h1>
  <p><%= @venue.location %></p>

  <div class="row">

    <div class="col-xs-12 col-lg-8">

      <div class="shadow mb-3 rounded">
        <%= render "show_map" %>
      </div>

      <div class="shadow p-3 mb-3 bg-white rounded" id="times-container">
        <div class="d-flex justify-content-between ">
          <h4 class="center-text">Booking Times</h4>
          <span id="booking-message" class="center-text">pick a <strong class="px-1"> start</strong> time</span>
          <span id="guest-day-prices" class="center-text"></span>
        </div>
        <div id="venue-times" data-stage="0"></div>
      </div>

      <% if current_user == @venue.user %>
        <div id="venue-bookings"><%= render("venue_bookings", venue: @venue) %></div>
      <% end %>

      <div class="col shadow p-3 bg-white rounded">
        <div class="title-container border-bottom d-flex justify-content-between">
          <h4 class="text-align-center">Venue Details</h4>
          <% if @venue.user == current_user %>
            <div class="col-md-2">
              <a href="#" class="btn btn-block mb-3" data-toggle="modal" data-target="#venueModal">
                <div class="d-flex my-auto"><i class="far fa-edit text-dark my-auto"></i><span>Edit</span></div>
              </a>
              <div class="modal hide fade" id="venueModal" tabindex="-1" role="dialog" aria-labelledby="venueModalLabel" aria-hidden="true">
                <%= render('modal_form')%>
              </div>
            </div>
          <% end %>
        </div>
        
        <div class="d-flex justify-content-between">
          <h5 class="mt-4">Description</h5>
          <div class="d-flex mt-4">
            <div class="d-flex justify-content-center perk-svg mr-2 py-auto" style="height: 20px;"><%= cl_image_tag "coin" %></div>
            <strong class="mr-2">Average Monthly Prices: </strong>
            <span class="d-flex flex-column">
              <span class="font-weight-bolder"><%= humanized_money_with_symbol(@venue.calendar.average_day_price_cents / 100) %> / day</span>
              <span class="font-weight-bolder"><%= humanized_money_with_symbol(@venue.calendar.average_hour_price_cents / 100) %> / hour</span>
            </span>
        </div>
        </div>
        <%= @venue.description %>
        <h5 class="mt-4">Additional information</h5>
        <div class="perks">
          <div class="d-flex"><div class="perk-svg mr-2 py-auto"><%= cl_image_tag "group" %></div><strong class="mr-2">Capacity: </strong><%= @venue.capacity %><%= (@venue.capacity == "1" ? ' guest' : ' guests') %></div>
          <div class="d-flex"><div class="perk-svg mr-2 py-auto"><%= cl_image_tag "blueprint" %></div><strong class="mr-2">Spaces: </strong><%= @venue.venue_spec.spaces %></div>
          <div class="d-flex"><div class="perk-svg mr-2 py-auto"><%= cl_image_tag "measure" %></div><strong class="mr-2">Total Area: </strong><%= @venue.venue_spec.total_area %> m2</div>
          <div class="d-flex"><div class="perk-svg mr-2 py-auto"><%= cl_image_tag "bathtub" %></div><strong class="mr-2">Bathrooms: </strong><%= @venue.venue_spec.bathrooms %></div>
          <div class="d-flex"><div class="perk-svg mr-2 py-auto"><%= cl_image_tag "garage" %></div><strong class="mr-2">Garage Spaces: </strong><%= @venue.venue_spec.garage_spaces %></div>
          
        </div>
        <h5 class="mt-4">Perks</h5>
        <div class="perks mt-3">
          <% @perks.each do |perk| %>
            <div class="d-flex perk-container">
              <i class="<%= Venue.perk_icon(perk) %> mr-3 my-auto" style="font-size: 21px;"></i>
              <strong><%= perk %></strong><br>
            </div>
          <% end %>
        </div>
      </div>


      <div class="col shadow p-3 mt-3 bg-white rounded mb-3">
        <h4 class="border-bottom">Reviews</h4>

        <% if @venue.reviews.empty? %>
          There are no ratings for this venue, yet
        <% else %>
          <% @venue.reviews.each do |review| %>
            <% unless review.nil? %>
              <div class="review_card">
                <div style="display: flex; justify-content: space-between">
                  <h4><%= review.title %></h4>
                  <h4><%= ('<i class="fas fa-star"></i>' * review.rating).html_safe %><%= ('<i class="far fa-star"></i>' * (5 - review.rating)).html_safe %></h4>
                </div>
                <p><%= review.comment %></p>
              </div>
            <% end %>
          <% end  %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-lg-4">
      <div class="sticky-div">
        <% if @venue.user == current_user && !@venue.user.can_receive_payments? %>
          <div class="col shadow p-3 bg-dark text-light rounded mb-3">
            <div class="w-full text-left lg:pl-16 lg:w-1/2">
              <div class=" text-gray-900 rounded">
                <h4 class="mb-3 text-xl font-semibold leading-none text-light">Your venue wont be listed until you register with Stripe!</h4>
                <%= stripe_connect_button %>
              </div>
            </div>
          </div>
        <% end %>
        <div class="col shadow p-3 bg-white rounded">
          <div class="wrapper">
            <div class="d-flex justify-content-between align-items-center">
              <% if @venue.user == current_user %>
              <h4>Reserved Dates</h4>
              <%= link_to "Disable / Enable", "#", class: "btn btn-warning btn-sm p-2", style: "height: 35px;", id: "disable-date", data: { toggle: "modal", target: "#disableModal"} %>
              <% else %>
              <h4>Reserve now!</h4>
              <% end %>
            </div>
            <div id="to_calendar_start" class="calendar-btn ml-1 mb-2"><i class="fas fa-undo"></i> start date</div>
            <% if current_user == @venue.user %>
              <div id="calendar-wrapper">
                <%= render "calendar", type: "host", calendar: @calendar, day_colors: @day_colors, days: @calendar_days, weekdays: @weekdays %>
              </div>
              
            <% else %>
              <div id="calendar-wrapper">
                <%= render "calendar", type: "guest", calendar: @calendar, day_colors: @day_colors, days: @calendar_days, weekdays: @weekdays %>
              </div><!-- 
              <div class="d-flex justify-content-center">
                <%#= render "bookings/form", venue: @venue %>
              </div> -->
            <% end %>
          </div>
        </div>
        <% if @venue.user == current_user %>
          <div id="day-form" class="col shadow p-3 bg-white rounded mt-3" data-venue-id="<%= @venue.id %>"></div>
        <% else %>
          <div id="booking-form" class="col shadow p-3 bg-white rounded mt-3 flex-column">
            <div class="mb-2 d-flex justify-content-between">From: <span id="start-date"></span></div>
            <div class="mb-2 d-flex justify-content-between">To: <span id="end-date"></span></div>
            <div class="mb-2 d-flex justify-content-between">N° of Hours: <span id="total-hours"></span></div>
            <div class="d-flex justify-content-between border-top pt-3">
              <span>Total Price:</span>
              <span id="total-price" class=""></span>
            </div>
            <%= simple_form_for @booking do |f| %>
              <%= f.input :venue_id, as: :hidden, input_html: { value: @booking.venue.nil? ? 0 : @booking.venue.id } %>
              <%= f.input :start_date, as: :hidden %>
              <%= f.input :end_date, as: :hidden %>
              <%= simple_fields_for :price do |p| %>
                <%= f.input :amount, as: :hidden %>
              <% end %>
              <div class="d-flex">
                <%= f.submit "Book", class: "btn btn-secondary ml-auto", id: "booking-form-submit" , disabled: "disabled" %>
              </div>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>

  </div>
</div>
<div class="modal fade" id="disableModal" tabindex="-1" aria-labelledby="disableModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="disableModalLabel">Dates to Disable</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= simple_form_for @venue.calendar, method: :patch do |f| %>
          <div class="modal-body">
              <%= f.fields_for :disable do |h| %>
                <%= h.input :from, as: :string, input_html: { id: 'disable_start' } %>
                <%= h.input :to, as: :string, input_html: { id: 'disable_end', disabled: true } %>
                <div class="d-flex">
                  <span class="mr-2">Disable</span>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" name="disable" checked>
                    <label class="custom-control-label" for="customSwitch1"></label>
                  </div>
                  <span>Enable</span>
                </div>
              <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="disable-date-submit" disabled>Save changes</button>
          </div>
        <% end %>
    </div>
  </div>
</div>
<br>
<br>
<br>


