<div class="container">
  <div class ="row justify-content-center mt-5">
    <div class="col-12 col-lg-8">
      <div class="shadow-sm p-5 bg-white rounded mt-5">

        <h1>Log in</h1>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
          required: false,
          autofocus: true,
          input_html: { autocomplete: "email" } %>
          <%= f.input :password,
          required: false,
          input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Log in", class:"btn btn-primary" %>
        </div>
        <% end %>
        <%# <div class="row justify-content-center border-top pt-2 mt-2">
          <div class="col-lg-6 d-flex justify-content-center flex-column">
            <span class="h5 text-center">OR</span>
            <%= link_to user_facebook_omniauth_authorize_path, class: "omniauth-login-btn mt-3 row ml-0" do %>
              <%# <div class="col-2 p-0"><i class="fab fa-facebook mr-3 my-auto"></i></div> %>
              <%# <div class="col-8 p-0 text-center">Sign in with Facebook</div> %>
              <%# <div class="col-2 p-0"></div> %>
            <%# end %>
        <%# </div> %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
</div>
