<div class="container">
  <div class ="row justify-content-center mt-5">
    <div class="col-12 col-lg-8">
      <div class="shadow-sm p-5 bg-white rounded mb-5">
        <% unless @booking.venue.photos.first.nil? %>
        	<%= render "/bookings/slides" %>
        <% end %>
        <div class="col">
          <h1>Checkout summary</h1>
          <p>Booking of <strong><%= @booking.venue.name %></strong></p>
          <p>From: <strong class="mr-4"><%= @booking.local_start_date.strftime("%B %d, %Y at %k:%M") %></strong>To: <strong><%= @booking.local_end_date.strftime("%B %d, %Y at %k:%M") %></strong></p>
          <% if @booking.venue.nil? %>
            <p class='text-left'>Price per hour: <strong> Data is no longer available.</strong></p>
            <p class='text-left'>Total price:  <strong> N/A </strong></p>
          <% else %>
            <p class='text-left'>Price per hour: <strong><%= humanized_money_with_symbol @booking.venue.price / 24 %></strong></p>
            <p class='text-left'>Total price:  <strong><%= humanized_money_with_symbol @booking.amount %></strong></p>
          <% end %>
          <div class="d-flex justify-content-between">
            <%= link_to booking_path(@booking), class: 'btn btn-warning mr-1' do %>
            Cancel
            <% end %>
            <button id="pay" class="btn btn-primary">Pay</button>
          </div>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
              const stripe = Stripe('<%= ENV["STRIPE_PUBLISHABLE_KEY"] %>', { stripeAccount: "<%= @booking.venue.user.uid %>" } );
              stripe.redirectToCheckout({
                sessionId: '<%= @booking.checkout_session_id %>'
              });
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</div>