<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Shack</title>
  <link rel="icon" href="https://res.cloudinary.com/mhoare/image/upload/logo">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>

</head>
<body>
  <div class="d-flex flex-column min-vh-100 overflow-hidden">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <main class="flex-grow-1">
      <%= content_for?(:banner) ? yield(:banner) : "" %>

      <div class="container pt-3">
        <%= yield %>
      </div>
    </main>

    <%= render 'shared/footer' %>
  </div>

  <%= javascript_pack_tag 'application' %>
</body>
</html>
