<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>KeySpot</title>
  <link rel="icon" href="https://res.cloudinary.com/mhoare/image/upload/logo">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>

</head>
<body>
  <div class="d-flex flex-column min-vh-100 ">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <main class="flex-grow-1" style="margin-top: 85.19px;">
      <%= content_for?(:banner) ? yield(:banner) : "" %>
      <% if controller_name == "venues" %>
      <%= yield %>
      <% else %>
      <div class="container">
        <%= yield %>
      </div>
      <% end %>
      
    </main>

    <%= render 'shared/footer' %>
  </div>

  <%= javascript_pack_tag 'application' %>
</body>
</html>
